{
    'a': 'value'
    b: 'value'
    c: 5
    d: {
        'as': 'nest'
    }
    "e": {
        'as': 'nest'
    }
    f: ['a', 'b', "c", "d"]
    'g': [1, 2, 3, 4, 5]
    'h': ['asd', 123, '123', "asdf"]
    'i': ['asdf', [1, 2, 3], 'asdf']
    'j': [{a:1}, {a:2}, {a:3}]
    'k': [{a:[1,2,3]}, {a:[1,2,3]}]
}
